n8n-workflows/承認/【承認】01_05-承認-商品承認処理_V5.json
{
  "name": "【承認】01_05-承認-商品承認処理_V5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approve-batch",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook",
      "name": "Webhook: 承認依頼",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "approve-batch"
    },
    {
      "parameters": {
        "jsCode": "// V5-PRODUCTION: 内部トークン検証（crypto依存排除版）\n// ========================================\nconst body = $input.first().json.body || $input.first().json;\nconst headers = $input.first().json.headers || {};\n\n// 環境変数必須チェック\nconst apiUrl = $env.N3_API_URL;\nconst secret = $env.N8N_INTERNAL_SECRET;\nif (!apiUrl) {\n  return [{ json: { error: true, message: 'N3_API_URL 環境変数が未設定です', code: 'CONFIG_ERROR' } }];\n}\nif (!secret) {\n  return [{ json: { error: true, message: 'N8N_INTERNAL_SECRET 環境変数が未設定です', code: 'CONFIG_ERROR' } }];\n}\n\nconst internalToken = headers['x-n3-signature'] || headers['X-N3-Signature'];\nconst tokenTimestamp = headers['x-n3-token-timestamp'] || headers['X-N3-Token-Timestamp'];\nconst userId = body.user_id || 'default';\n\n// トークン検証（外部APIへ委譲）\nif (internalToken && tokenTimestamp) {\n  try {\n    const verifyResponse = await fetch(`${apiUrl}/api/n8n-auth/verify-internal-token`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ userId, timestamp: tokenTimestamp, token: internalToken })\n    });\n    const verifyResult = await verifyResponse.json();\n    \n    if (!verifyResult.valid) {\n      return [{ json: { error: true, message: '内部トークンが無効です', code: 'INVALID_TOKEN' } }];\n    }\n  } catch (e) {\n    return [{ json: { error: true, message: 'トークン検証APIエラー: ' + e.message, code: 'VERIFY_API_ERROR' } }];\n  }\n}\n\n// 入力検証\nconst productId = body.product_id;\nconst marketplace = body.marketplace || 'ebay_us';\nconst limit = body.limit || 10;\nconst force = body.force || false;\n\nreturn [{ json: { \n  product_id: productId, \n  marketplace: marketplace, \n  user_id: userId,\n  limit: limit,\n  force: force,\n  request_timestamp: new Date().toISOString()\n} }];"
      },
      "id": "validate",
      "name": "リクエスト検証",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-error",
      "name": "エラーチェック",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message }) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "respond-error",
      "name": "エラー応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.sku, p.english_title, p.title, p.ddp_price_usd, p.price_usd, p.shipping_cost_usd, p.profit_usd, p.profit_margin, p.profit_jpy, p.hts_code, p.origin_country, p.weight_g, p.ai_confidence_score, p.workflow_status, p.user_id, p.updated_at FROM products_master p WHERE p.workflow_status = 'ready' AND p.user_id = $1 AND p.profit_margin >= $2 AND p.ai_confidence_score >= 80 ORDER BY p.profit_margin DESC, p.ai_confidence_score DESC LIMIT $3",
        "options": {
          "queryParams": "={{ [$json.user_id, $json.min_margin, $json.limit] }}"
        }
      },
      "id": "get-ready",
      "name": "承認待ち取得（user_id検証）",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Array.isArray($json) ? $json.length : ($json.id ? 1 : 0) }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-empty",
      "name": "対象有無",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, approved: 0, rejected: 0, message: '承認待ち商品なし' } }];"
      },
      "id": "no-items",
      "name": "対象なし",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// V4-PRODUCTION: 承認判定ロジック（5%ガードレール）\nconst products = $input.first().json;\nconst productArr = Array.isArray(products) ? products : [products];\nconst config = $node['リクエスト検証'].json;\n\nconst MIN_MARGIN = config.min_margin || 5;\nconst MIN_MARGIN_TARIFF = 10; // 関税あり商品は10%必須\n\nreturn productArr.filter(p => p.id).map(p => {\n  const profitMargin = p.profit_margin || 0;\n  const hasTariff = p.origin_country === 'CN' || (p.hts_code && !p.hts_code.startsWith('9504'));\n  const requiredMargin = hasTariff ? MIN_MARGIN_TARIFF : MIN_MARGIN;\n  \n  let decision = 'approved', reason = '';\n  \n  // 赤字チェック\n  if (p.profit_usd < 0) { decision = 'rejected'; reason = '赤字商品: $' + p.profit_usd; }\n  // 利益率チェック\n  else if (profitMargin < requiredMargin) { decision = 'rejected'; reason = '利益率不足: ' + profitMargin.toFixed(1) + '% < ' + requiredMargin + '%'; }\n  // 信頼度チェック\n  else if ((p.ai_confidence_score || 0) < 80) { decision = 'rejected'; reason = '信頼度不足: ' + (p.ai_confidence_score || 0) + '点'; }\n  // HTSコード未設定\n  else if (!p.hts_code) { decision = 'rejected'; reason = 'HTSコード未設定'; }\n  // 重量未設定\n  else if (!p.weight_g || p.weight_g < 1) { decision = 'rejected'; reason = '重量未設定'; }\n  // 価格異常\n  else if ((p.ddp_price_usd || p.price_usd || 0) < 10) { decision = 'rejected'; reason = '価格が低すぎる: $' + (p.ddp_price_usd || p.price_usd); }\n  \n  return { json: {\n    user_id: p.user_id, product_id: p.id, sku: p.sku, updated_at: p.updated_at,\n    title: (p.english_title || p.title || '').substring(0, 80),\n    price_usd: p.ddp_price_usd || p.price_usd, profit_margin: profitMargin,\n    confidence: p.ai_confidence_score || 0,\n    decision, reason,\n    new_status: decision === 'approved' ? 'approved' : 'review'\n  } };\n});"
      },
      "id": "approve-logic",
      "name": "承認判定（5%ガードレール）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "batch",
      "name": "10件ずつ処理",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE products_master SET workflow_status = $1, approved_at = $2, approval_reason = $3, updated_at = NOW() WHERE id = $4 AND user_id = $5 AND updated_at = $6 RETURNING id, sku, workflow_status",
        "options": {
          "queryParams": "={{ [$json.new_status, $json.decision === 'approved' ? 'NOW()' : null, ($json.reason || '自動承認').replace(/'/g, \"''\").substring(0, 200), $json.product_id, $json.user_id, $json.updated_at] }}"
        }
      },
      "id": "update-status",
      "name": "ステータス更新（楽観的ロック）",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all().map(i => i.json);\nconst approved = results.filter(r => r.workflow_status === 'approved').length;\nconst rejected = results.filter(r => r.workflow_status === 'review').length;\nreturn [{ json: { success: true, approved, rejected, total: results.length, ts: new Date().toISOString() } }];"
      },
      "id": "aggregate",
      "name": "結果集約",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM approval_logs WHERE created_at < NOW() - INTERVAL '30 days'",
        "options": {}
      },
      "id": "purge",
      "name": "🗑️ 履歴パージ（30日）",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.approved }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-notify",
      "name": "承認あり？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chatwork.com/v2/rooms/{{ $env.CHATWORK_ROOM_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{ $env.CHATWORK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "=[info][title]✅ N3-05 V4 承認処理完了[/title]✅承認: {{ $node['結果集約'].json.approved }}件\\n❌却下: {{ $node['結果集約'].json.rejected }}件[/info]"
            }
          ]
        }
      },
      "id": "notify",
      "name": "ChatWork通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($node['結果集約'].json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// 🔐 HMAC SHA256 署名検証 (Empire OS v6)\nconst crypto = require('crypto');\n\nconst signature = $request.headers['x-n3-signature'] || $request.headers['X-N3-Signature'];\nconst timestamp = $request.headers['x-n3-timestamp'] || $request.headers['X-N3-Timestamp'];\nconst secret = $env.N8N_HMAC_SECRET;\n\nif (!secret) {\n  throw new Error('🚫 N8N_HMAC_SECRET 環境変数が未設定です');\n}\n\nif (!signature || !timestamp) {\n  throw new Error('🚫 署名またはタイムスタンプが欠落しています');\n}\n\n// タイムスタンプ有効期限チェック (5分)\nconst now = Date.now();\nconst tsAge = now - parseInt(timestamp);\nif (tsAge > 300000 || tsAge < -30000) {\n  throw new Error('🚫 タイムスタンプが期限切れまたは不正です');\n}\n\n// HMAC検証\nconst bodyString = JSON.stringify($json);\nconst computedHmac = crypto\n  .createHmac('sha256', secret)\n  .update(timestamp + '.' + bodyString)\n  .digest('hex');\n\nif (signature !== computedHmac) {\n  throw new Error('🚫 HMAC署名検証失敗: 不正なリクエスト');\n}\n\n// 検証成功 - 元データをそのまま返す\nreturn [{ json: $json }];"
      },
      "name": "🔐 HMAC署名検証",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[EMPIRE_OS_V6] セキュリティ強制挿入"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/execution_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_id\": \"{{$workflow.id}}\",\n  \"workflow_name\": \"{{$workflow.name}}\",\n  \"status\": \"success\",\n  \"execution_time_ms\": {{Date.now() - $execution.startedAt.getTime()}},\n  \"error_message\": null,\n  \"executed_at\": \"{{new Date().toISOString()}}\",\n  \"node_count\": {{$workflow.nodes.length}},\n  \"metadata\": {}\n}"
      },
      "name": "📊 実行ログ送信 (成功)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "notes": "[EMPIRE_OS_V6] 中央監視パルス"
    }
  ],
  "connections": {
    "Webhook: 承認依頼": {
      "main": [
        [
          {
            "node": "🔐 HMAC署名検証",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "リクエスト検証": {
      "main": [
        [
          {
            "node": "エラーチェック",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラーチェック": {
      "main": [
        [
          {
            "node": "エラー応答",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "承認待ち取得（user_id検証）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "承認待ち取得（user_id検証）": {
      "main": [
        [
          {
            "node": "対象有無",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "対象有無": {
      "main": [
        [
          {
            "node": "対象なし",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "承認判定（5%ガードレール）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "対象なし": {
      "main": [
        [
          {
            "node": "応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "承認判定（5%ガードレール）": {
      "main": [
        [
          {
            "node": "10件ずつ処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10件ずつ処理": {
      "main": [
        [
          {
            "node": "ステータス更新（楽観的ロック）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "結果集約",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ステータス更新（楽観的ロック）": {
      "main": [
        [
          {
            "node": "10件ずつ処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "結果集約": {
      "main": [
        [
          {
            "node": "🗑️ 履歴パージ（30日）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗑️ 履歴パージ（30日）": {
      "main": [
        [
          {
            "node": "承認あり？",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "承認あり？": {
      "main": [
        [
          {
            "node": "ChatWork通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatWork通知": {
      "main": [
        [
          {
            "node": "応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 HMAC署名検証": {
      "main": [
        [
          {
            "node": "リクエスト検証",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 300,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none"
  },
  "tags": [
    {
      "name": "N3-Approve",
      "color": "#228b22"
    },
    {
      "name": "V4-PRODUCTION",
      "color": "#ff0000"
    },
    {
      "name": "Multi-Tenant",
      "color": "#00bfff"
    },
    {
      "name": "Internal-Auth",
      "color": "#dc143c"
    },
    {
      "name": "500MB-Safe",
      "color": "#32cd32"
    },
    {
      "name": "Empire-OS-V6",
      "color": "#ff4500"
    }
  ],
  "active": false
}