n8n-workflows/デプロイ/N3-NIGHTLY-SYNC.json
{
  "name": "N3-NIGHTLY-SYNC",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "毎日午前3時",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "command": "bash ~/n3-frontend_new/scripts/n3-nightly.sh"
      },
      "id": "execute",
      "name": "夜間同期実行",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exitCode }}",
              "value2": 0
            }
          ]
        }
      },
      "id": "check",
      "name": "成功判定",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chatwork.com/v2/rooms/{{ $env.CHATWORK_ROOM_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{ $env.CHATWORK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "[info][title]✅ N3 夜間同期完了[/title]{{ $now.format('yyyy-MM-dd HH:mm') }}\n\nテストVPS: https://n3.emverze.com\n確認してください[/info]"
            }
          ]
        },
        "options": {
          "retry": {
            "attempts": 3,
            "delay": 1000,
            "backoff": "exponential"
          },
          "timeout": 30000
        }
      },
      "id": "notify-success",
      "name": "成功通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chatwork.com/v2/rooms/{{ $env.CHATWORK_ROOM_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{ $env.CHATWORK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "[info][title]❌ N3 夜間同期失敗[/title]{{ $now.format('yyyy-MM-dd HH:mm') }}\n\nエラー: {{ $json.stderr }}\n\nログを確認してください:\ntail -100 ~/n3-nightly.log[/info]"
            }
          ]
        },
        "options": {
          "retry": {
            "attempts": 3,
            "delay": 1000,
            "backoff": "exponential"
          },
          "timeout": 30000
        }
      },
      "id": "notify-fail",
      "name": "失敗通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "毎日午前3時": {
      "main": [
        [
          {
            "node": "夜間同期実行",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "夜間同期実行": {
      "main": [
        [
          {
            "node": "成功判定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "成功判定": {
      "main": [
        [
          {
            "node": "成功通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "失敗通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "N3",
      "id": "n3"
    },
    {
      "name": "自動化",
      "id": "auto"
    }
  ]
}