n8n-workflows/在庫/【在庫】01_07-在庫同期-GlobalStockKiller_V5.json
{
  "name": "【在庫】01_07-在庫同期-GlobalStockKiller_V5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stock-sync",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook",
      "name": "Webhook: 販売イベント",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "stock-sync"
    },
    {
      "parameters": {
        "jsCode": "// V5-PRODUCTION: 内部トークン検証（crypto依存排除版）\n// ========================================\nconst body = $input.first().json.body || $input.first().json;\nconst headers = $input.first().json.headers || {};\n\n// 環境変数必須チェック\nconst apiUrl = $env.N3_API_URL;\nconst secret = $env.N8N_INTERNAL_SECRET;\nif (!apiUrl) {\n  return [{ json: { error: true, message: 'N3_API_URL 環境変数が未設定です', code: 'CONFIG_ERROR' } }];\n}\nif (!secret) {\n  return [{ json: { error: true, message: 'N8N_INTERNAL_SECRET 環境変数が未設定です', code: 'CONFIG_ERROR' } }];\n}\n\nconst internalToken = headers['x-n3-signature'] || headers['X-N3-Signature'];\nconst tokenTimestamp = headers['x-n3-token-timestamp'] || headers['X-N3-Token-Timestamp'];\nconst userId = body.user_id || 'default';\n\n// トークン検証（外部APIへ委譲）\nif (internalToken && tokenTimestamp) {\n  try {\n    const verifyResponse = await fetch(`${apiUrl}/api/n8n-auth/verify-internal-token`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ userId, timestamp: tokenTimestamp, token: internalToken })\n    });\n    const verifyResult = await verifyResponse.json();\n    \n    if (!verifyResult.valid) {\n      return [{ json: { error: true, message: '内部トークンが無効です', code: 'INVALID_TOKEN' } }];\n    }\n  } catch (e) {\n    return [{ json: { error: true, message: 'トークン検証APIエラー: ' + e.message, code: 'VERIFY_API_ERROR' } }];\n  }\n}\n\n// 入力検証\nconst productId = body.product_id;\nconst marketplace = body.marketplace || 'ebay_us';\nconst limit = body.limit || 10;\nconst force = body.force || false;\n\nreturn [{ json: { \n  product_id: productId, \n  marketplace: marketplace, \n  user_id: userId,\n  limit: limit,\n  force: force,\n  request_timestamp: new Date().toISOString()\n} }];"
      },
      "id": "validate",
      "name": "リクエスト検証",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-error",
      "name": "エラーチェック",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message }) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "respond-error",
      "name": "エラー応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT im.id, im.product_master_id, im.physical_quantity, im.updated_at FROM inventory_master im WHERE im.product_master_id = $1 AND im.user_id = $2 LIMIT 1",
        "options": {
          "queryParams": "={{ [$json.product_master_id, $json.user_id] }}"
        }
      },
      "id": "get-inventory",
      "name": "在庫マスター取得（user_id検証）",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// V4-PRODUCTION: 在庫更新計算\nconst event = $node['リクエスト検証'].json;\nconst inventoryArr = Array.isArray($input.first().json) ? $input.first().json : [$input.first().json];\nconst inventory = inventoryArr[0] || {};\n\nif (!inventory.id) {\n  return [{ json: { error: true, message: '在庫マスターが見つかりません' } }];\n}\n\nconst previousQuantity = inventory.physical_quantity || 0;\nconst quantityChange = event.quantity_change || -1;\nconst newQuantity = Math.max(0, previousQuantity + quantityChange);\n\nreturn [{ json: {\n  user_id: event.user_id,\n  product_master_id: event.product_master_id,\n  inventory_id: inventory.id,\n  inventory_updated_at: inventory.updated_at,\n  previous_quantity: previousQuantity,\n  new_quantity: newQuantity,\n  event_type: event.event_type,\n  source_marketplace: event.source_marketplace,\n  order_number: event.order_number,\n  ts: event.ts\n} }];"
      },
      "id": "calc-stock",
      "name": "在庫計算",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE inventory_master SET physical_quantity = $1, updated_at = NOW() WHERE id = $2 AND user_id = $3 AND updated_at = $4",
        "options": {
          "queryParams": "={{ [$json.new_quantity, $json.inventory_id, $json.user_id, $json.inventory_updated_at] }}"
        }
      },
      "id": "update-inventory",
      "name": "在庫マスター更新（楽観的ロック）",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ml.id, ml.marketplace_id, ml.item_id, ml.platform, ml.status FROM marketplace_listings ml WHERE ml.product_master_id = $1 AND ml.user_id = $2 AND ml.status IN ('active', 'pending')",
        "options": {
          "queryParams": "={{ [{{ $json.product_master_id }}, {{ $json.user_id }}] }}"
        }
      },
      "id": "get-listings",
      "name": "出品一覧取得（user_id検証）",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const listings = Array.isArray($input.first().json) ? $input.first().json : [$input.first().json];\nconst context = $node['在庫計算'].json;\n\nif (!listings[0]?.id) {\n  return [{ json: { skip: true, user_id: context.user_id, product_master_id: context.product_master_id, new_quantity: context.new_quantity } }];\n}\n\nreturn listings.map(l => ({ json: { ...l, user_id: context.user_id, product_master_id: context.product_master_id, new_quantity: context.new_quantity } }));"
      },
      "id": "expand-listings",
      "name": "出品展開",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-skip",
      "name": "出品なし？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return items;"
      },
      "id": "skip-sync",
      "name": "同期スキップ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "batch",
      "name": "バッチ分割",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "notes": "\n[PATCHER] WARNING: SplitInBatches直後にWaitノードがありません。API制限に注意してください。"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.platform }}",
        "rules": {
          "rules": [
            {
              "value2": "ebay",
              "output": 0
            },
            {
              "value2": "shopee",
              "output": 1
            },
            {
              "value2": "amazon",
              "output": 2
            },
            {
              "value2": "qoo10",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "switch-platform",
      "name": "販路分岐",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || '={{ $vars.API_BASE_URL || $env.N8N_WEBHOOK_URL }}/webhook' }}/ebay-revise-quantity",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N3-Signature",
              "value": "={{ $env.N8N_INTERNAL_TOKEN || \"\" }}"
            },
            {
              "name": "X-N3-Token-Timestamp",
              "value": "={{ Date.now() }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, item_id: $json.item_id, quantity: $json.new_quantity, marketplace: $json.marketplace_id }) }}",
        "options": {
          "timeout": 30000,
          "retry": {
            "attempts": 3,
            "delay": 1000,
            "backoff": "exponential"
          }
        }
      },
      "id": "ebay-api",
      "name": "eBay ReviseQuantity（内部認証）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N3_API_URL || '{{$env.GATEWAY_URL}}' }}/api/shopee/update-stock",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, item_id: $json.item_id, quantity: $json.new_quantity }) }}",
        "options": {
          "timeout": 30000,
          "retry": {
            "attempts": 3,
            "delay": 1000,
            "backoff": "exponential"
          }
        }
      },
      "id": "shopee-api",
      "name": "Shopee UpdateStock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N3_API_URL || '{{$env.GATEWAY_URL}}' }}/api/amazon/update-inventory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, sku: $json.item_id, quantity: $json.new_quantity }) }}",
        "options": {
          "timeout": 30000,
          "retry": {
            "attempts": 3,
            "delay": 1000,
            "backoff": "exponential"
          }
        }
      },
      "id": "amazon-api",
      "name": "Amazon UpdateInventory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N3_API_URL || '{{$env.GATEWAY_URL}}' }}/api/qoo10/update-stock",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, item_code: $json.item_id, quantity: $json.new_quantity }) }}",
        "options": {
          "timeout": 30000,
          "retry": {
            "attempts": 3,
            "delay": 1000,
            "backoff": "exponential"
          }
        }
      },
      "id": "qoo10-api",
      "name": "Qoo10 UpdateStock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$input.first().json, sync_skipped: true, platform: 'other' } }];"
      },
      "id": "other-platform",
      "name": "その他（スキップ）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// V4-PRODUCTION: 結果集約（圧縮）\nconst results = $input.all().map(i => i.json);\nconst context = $node['在庫計算'].json;\n\nconst successCount = results.filter(r => !r.error && !r.sync_skipped).length;\nconst errorCount = results.filter(r => r.error).length;\nconst skippedCount = results.filter(r => r.sync_skipped).length;\n\nreturn [{ json: {\n  user_id: context.user_id,\n  product_master_id: context.product_master_id,\n  inventory_id: context.inventory_id,\n  event_type: context.event_type,\n  source_marketplace: context.source_marketplace,\n  order_number: context.order_number,\n  prev_qty: context.previous_quantity,\n  new_qty: context.new_quantity,\n  total: results.length,\n  ok: successCount,\n  err: errorCount,\n  skip: skippedCount,\n  exec_ms: Date.now() - context.ts\n} }];"
      },
      "id": "aggregate",
      "name": "結果集約（圧縮）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO stock_sync_logs (user_id, event_type, source_marketplace, product_master_id, inventory_master_id, order_number, quantity_change, previous_quantity, new_quantity, affected_marketplaces, execution_time_ms, created_at) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, '{{ JSON.stringify({ t: $json.total, ok: $json.ok, err: $json.err }).replace(/'/g, \"''\") }}'::jsonb, $10, NOW())",
        "options": {
          "queryParams": "={{ [$json.user_id, $json.event_type, $json.source_marketplace, $json.product_master_id, $json.inventory_id, $json.order_number, $json.new_qty - $json.prev_qty, $json.prev_qty, $json.new_qty, $json.exec_ms] }}"
        }
      },
      "id": "log-sync",
      "name": "同期ログ記録（圧縮）",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM stock_sync_logs WHERE created_at < NOW() - INTERVAL '7 days'",
        "options": {}
      },
      "id": "purge",
      "name": "🗑️ 履歴パージ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node['結果集約（圧縮）'].json.err }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-errors",
      "name": "エラーあり？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chatwork.com/v2/rooms/{{ $env.CHATWORK_ROOM_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{ $env.CHATWORK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "=[info][title]🚨 在庫同期エラー[/title]Product: {{ $node['結果集約（圧縮）'].json.product_master_id }}\\n成功: {{ $node['結果集約（圧縮）'].json.ok }} / エラー: {{ $node['結果集約（圧縮）'].json.err }}[/info]"
            }
          ]
        },
        "options": {
          "retry": {
            "attempts": 3,
            "delay": 1000,
            "backoff": "exponential"
          },
          "timeout": 30000
        }
      },
      "id": "alert",
      "name": "ChatWorkアラート",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, ...$node['結果集約（圧縮）'].json }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "成功応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// 🔐 HMAC SHA256 署名検証 (Empire OS v6)\nconst crypto = require('crypto');\n\nconst signature = $request.headers['x-n3-signature'] || $request.headers['X-N3-Signature'];\nconst timestamp = $request.headers['x-n3-timestamp'] || $request.headers['X-N3-Timestamp'];\nconst secret = $env.N8N_HMAC_SECRET;\n\nif (!secret) {\n  throw new Error('🚫 N8N_HMAC_SECRET 環境変数が未設定です');\n}\n\nif (!signature || !timestamp) {\n  throw new Error('🚫 署名またはタイムスタンプが欠落しています');\n}\n\n// タイムスタンプ有効期限チェック (5分)\nconst now = Date.now();\nconst tsAge = now - parseInt(timestamp);\nif (tsAge > 300000 || tsAge < -30000) {\n  throw new Error('🚫 タイムスタンプが期限切れまたは不正です');\n}\n\n// HMAC検証\nconst bodyString = JSON.stringify($json);\nconst computedHmac = crypto\n  .createHmac('sha256', secret)\n  .update(timestamp + '.' + bodyString)\n  .digest('hex');\n\nif (signature !== computedHmac) {\n  throw new Error('🚫 HMAC署名検証失敗: 不正なリクエスト');\n}\n\n// 検証成功 - 元データをそのまま返す\nreturn [{ json: $json }];"
      },
      "name": "🔐 HMAC署名検証",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[EMPIRE_OS_V6] セキュリティ強制挿入"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/execution_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_id\": \"{{$workflow.id}}\",\n  \"workflow_name\": \"{{$workflow.name}}\",\n  \"status\": \"success\",\n  \"execution_time_ms\": {{Date.now() - $execution.startedAt.getTime()}},\n  \"error_message\": null,\n  \"executed_at\": \"{{new Date().toISOString()}}\",\n  \"node_count\": {{$workflow.nodes.length}},\n  \"metadata\": {}\n}",
        "options": {
          "retry": {
            "attempts": 3,
            "delay": 1000,
            "backoff": "exponential"
          },
          "timeout": 30000
        }
      },
      "name": "📊 実行ログ送信 (成功)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "notes": "[EMPIRE_OS_V6] 中央監視パルス\n[PATCHER] WARNING: このノードはどこにも接続されていません。削除または接続してください。"
    }
  ],
  "connections": {
    "Webhook: 販売イベント": {
      "main": [
        [
          {
            "node": "🔐 HMAC署名検証",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "リクエスト検証": {
      "main": [
        [
          {
            "node": "エラーチェック",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラーチェック": {
      "main": [
        [
          {
            "node": "エラー応答",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "在庫マスター取得（user_id検証）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "在庫マスター取得（user_id検証）": {
      "main": [
        [
          {
            "node": "在庫計算",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "在庫計算": {
      "main": [
        [
          {
            "node": "在庫マスター更新（楽観的ロック）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "在庫マスター更新（楽観的ロック）": {
      "main": [
        [
          {
            "node": "出品一覧取得（user_id検証）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "出品一覧取得（user_id検証）": {
      "main": [
        [
          {
            "node": "出品展開",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "出品展開": {
      "main": [
        [
          {
            "node": "出品なし？",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "出品なし？": {
      "main": [
        [
          {
            "node": "同期スキップ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "バッチ分割",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "同期スキップ": {
      "main": [
        [
          {
            "node": "結果集約（圧縮）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "バッチ分割": {
      "main": [
        [
          {
            "node": "販路分岐",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "販路分岐": {
      "main": [
        [
          {
            "node": "eBay ReviseQuantity（内部認証）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Shopee UpdateStock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Amazon UpdateInventory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qoo10 UpdateStock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "その他（スキップ）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eBay ReviseQuantity（内部認証）": {
      "main": [
        [
          {
            "node": "結果集約（圧縮）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopee UpdateStock": {
      "main": [
        [
          {
            "node": "結果集約（圧縮）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amazon UpdateInventory": {
      "main": [
        [
          {
            "node": "結果集約（圧縮）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qoo10 UpdateStock": {
      "main": [
        [
          {
            "node": "結果集約（圧縮）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "その他（スキップ）": {
      "main": [
        [
          {
            "node": "結果集約（圧縮）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "結果集約（圧縮）": {
      "main": [
        [
          {
            "node": "同期ログ記録（圧縮）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "同期ログ記録（圧縮）": {
      "main": [
        [
          {
            "node": "🗑️ 履歴パージ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗑️ 履歴パージ": {
      "main": [
        [
          {
            "node": "エラーあり？",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラーあり？": {
      "main": [
        [
          {
            "node": "ChatWorkアラート",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "成功応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatWorkアラート": {
      "main": [
        [
          {
            "node": "成功応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 HMAC署名検証": {
      "main": [
        [
          {
            "node": "リクエスト検証",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 120,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none"
  },
  "tags": [
    {
      "name": "N3-Stock",
      "color": "#ff0000"
    },
    {
      "name": "V4-PRODUCTION",
      "color": "#ff0000"
    },
    {
      "name": "Multi-Tenant",
      "color": "#00bfff"
    },
    {
      "name": "Internal-Auth",
      "color": "#dc143c"
    },
    {
      "name": "500MB-Safe",
      "color": "#32cd32"
    },
    {
      "name": "Empire-OS-V6",
      "color": "#ff4500"
    }
  ],
  "active": false
}