n8n-workflows/追加/_DELETE/【共通】V8-AUTH-GATE-VALIDATOR.json
{
  "name": "【共通】V8-AUTH-GATE-VALIDATOR",
  "nodes": [
    {
      "parameters": {},
      "id": "auth-gate-start",
      "name": "Auth-Gate Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Auth-Gate V8.2.1 - JITトークン検証\nconst input = $input.first().json;\nconst startTime = Date.now();\n\n// リクエストヘッダーからトークン抽出\nconst authHeader = input.headers?.authorization || input.headers?.Authorization || '';\nconst token = authHeader.replace('Bearer ', '').trim();\nconst workflowName = input.workflowName || 'unknown';\nconst requestId = input.requestId || `req_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\nconst tenantId = input.tenantId || 'default';\nconst sourceIp = input.headers?.['x-forwarded-for'] || input.headers?.['x-real-ip'] || 'unknown';\nconst userAgent = input.headers?.['user-agent'] || 'unknown';\n\n// 検証結果\nlet validationResult = {\n  isValid: false,\n  reason: '',\n  tenantId: tenantId,\n  requestId: requestId,\n  workflowName: workflowName,\n  tokenProvided: token ? token.substring(0, 8) + '***' : 'none',\n  sourceIp: sourceIp,\n  userAgent: userAgent,\n  validatedAt: new Date().toISOString()\n};\n\n// トークン存在チェック\nif (!token) {\n  validationResult.reason = 'missing_token';\n  validationResult.errorMessage = 'Authorization token is required';\n  return {\n    json: {\n      ...validationResult,\n      shouldLogUnauthorized: true,\n      originalPayload: input\n    }\n  };\n}\n\n// トークンフォーマットチェック（基本検証）\nif (token.length < 32) {\n  validationResult.reason = 'invalid_token_format';\n  validationResult.errorMessage = 'Invalid token format';\n  return {\n    json: {\n      ...validationResult,\n      shouldLogUnauthorized: true,\n      originalPayload: input\n    }\n  };\n}\n\n// SHA256ハッシュ生成（DB検証用）\nconst crypto = require('crypto');\nconst tokenHash = crypto.createHash('sha256').update(token).digest('hex');\n\nvalidationResult.tokenHash = tokenHash;\nvalidationResult.validationTimeMs = Date.now() - startTime;\n\nreturn {\n  json: {\n    ...validationResult,\n    needsDbValidation: true,\n    originalPayload: input\n  }\n};"
      },
      "id": "auth-gate-validate",
      "name": "Token Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-needs-db",
              "leftValue": "={{ $json.needsDbValidation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "auth-gate-switch",
      "name": "Needs DB Validation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT validate_jit_token(\n  '{{ $json.tokenHash }}',\n  '{{ $json.workflowName }}'\n) as result;",
        "options": {}
      },
      "id": "auth-gate-db-validate",
      "name": "DB Token Validation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        850,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      },
      "notes": "\n[PATCHER] WARNING: このクエリはqueryParams方式への移行が必要です。手動で修正してください。"
    },
    {
      "parameters": {
        "jsCode": "// DB検証結果の処理\nconst input = $input.first().json;\nconst dbResult = input.result || {};\nconst prevData = $('Token Validation').first().json;\n\nlet finalResult = {\n  ...prevData,\n  dbValidation: dbResult\n};\n\nif (dbResult.valid === true) {\n  finalResult.isValid = true;\n  finalResult.reason = 'token_valid';\n  finalResult.tenantId = dbResult.tenant_id || prevData.tenantId;\n  finalResult.requestId = dbResult.request_id || prevData.requestId;\n} else {\n  finalResult.isValid = false;\n  finalResult.reason = dbResult.reason || 'db_validation_failed';\n  finalResult.errorMessage = dbResult.message || 'Token validation failed';\n  finalResult.shouldLogUnauthorized = true;\n}\n\nreturn { json: finalResult };"
      },
      "id": "auth-gate-process-db",
      "name": "Process DB Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT log_unauthorized_access(\n  '{{ $json.tenantId }}',\n  '{{ $json.workflowName }}',\n  '{{ $json.requestId }}',\n  '{{ $json.tokenProvided }}',\n  '{{ $json.reason }}',\n  '{{ $json.sourceIp }}',\n  '{{ $json.userAgent }}',\n  '{{ JSON.stringify($json.originalPayload?.headers || {}) }}'::jsonb\n) as log_id;",
        "options": {}
      },
      "id": "auth-gate-log-unauthorized",
      "name": "Log Unauthorized Access",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        850,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      },
      "notes": "\n[PATCHER] WARNING: このクエリはqueryParams方式への移行が必要です。手動で修正してください。"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_logs (\n  tenant_id, workflow_name, request_id, action,\n  payload_masked, risk_level, status, error_message, metadata\n) VALUES (\n  '{{ $json.tenantId }}',\n  '{{ $json.workflowName }}',\n  '{{ $json.requestId }}',\n  'auth_gate_blocked',\n  '{{ JSON.stringify({ token_provided: $json.tokenProvided, source_ip: $json.sourceIp }) }}'::jsonb,\n  'HIGH',\n  'error',\n  '{{ $json.errorMessage }}',\n  '{{ JSON.stringify({ reason: $json.reason, validated_at: $json.validatedAt }) }}'::jsonb\n);",
        "options": {}
      },
      "id": "auth-gate-audit-log",
      "name": "Audit Log - Blocked",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1050,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "supabase-postgres",
          "name": "Supabase PostgreSQL"
        }
      },
      "notes": "\n[PATCHER] WARNING: このクエリはqueryParams方式への移行が必要です。手動で修正してください。"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "auth-gate-final-check",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// 認証成功 - 元のペイロードにメタデータを追加して返す\nconst input = $input.first().json;\n\nreturn {\n  json: {\n    authValidated: true,\n    tenantId: input.tenantId,\n    requestId: input.requestId,\n    workflowName: input.workflowName,\n    validatedAt: input.validatedAt,\n    originalPayload: input.originalPayload,\n    ...input.originalPayload  // 元のリクエストデータを展開\n  }\n};"
      },
      "id": "auth-gate-success",
      "name": "Auth Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// 認証失敗 - エラーレスポンスを返す\nconst input = $input.first().json;\n\nreturn {\n  json: {\n    authValidated: false,\n    error: true,\n    errorCode: 'AUTH_GATE_BLOCKED',\n    errorMessage: input.errorMessage || 'Authentication failed',\n    reason: input.reason,\n    requestId: input.requestId,\n    workflowName: input.workflowName,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "auth-gate-failure",
      "name": "Auth Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        400
      ]
    }
  ],
  "connections": {
    "Auth-Gate Start": {
      "main": [
        [
          {
            "node": "Token Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Validation": {
      "main": [
        [
          {
            "node": "Needs DB Validation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs DB Validation?": {
      "main": [
        [
          {
            "node": "DB Token Validation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unauthorized Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Token Validation": {
      "main": [
        [
          {
            "node": "Process DB Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process DB Result": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Unauthorized Access": {
      "main": [
        [
          {
            "node": "Audit Log - Blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log - Blocked": {
      "main": [
        [
          {
            "node": "Auth Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Auth Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unauthorized Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "V8",
    "Auth-Gate",
    "Security",
    "共通モジュール"
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-24T00:00:00.000Z",
  "versionId": "v8.2.1"
}