n8n-workflows/システム/【システム】01_15-分析-統合ダッシュボードスナップショット_V5.json
{
  "name": "【システム】01_15-分析-統合ダッシュボードスナップショット_V5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-snapshot",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook",
      "name": "Webhook: dashboard-snapshot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "dashboard-snapshot"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "毎日0時実行",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json || {};\nconst apiUrl = $env.N3_API_URL || '{{$env.GATEWAY_URL}}';\nconst secret = $env.N8N_INTERNAL_SECRET;\nif (!secret) return [{ json: { error: true, message: 'N8N_INTERNAL_SECRET未設定', code: 'CONFIG_ERROR' } }];\nconst snapshotDate = body.date || new Date().toISOString().split('T')[0];\nconst isScheduled = !$input.first().json.body;\nreturn [{ json: { snapshot_date: snapshotDate, is_scheduled: isScheduled, api_url: apiUrl } }];"
      },
      "id": "init",
      "name": "🔐 初期化",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-error",
      "name": "エラーチェック",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message, code: $json.code }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "エラー応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_orders, SUM(total_amount) as total_revenue, COUNT(CASE WHEN status = 'shipped' THEN 1 END) as shipped_orders, COUNT(CASE WHEN status = 'pending' THEN 1 END) as pending_orders, COUNT(DISTINCT platform) as platforms_count FROM orders_unified WHERE DATE(created_at) = $1",
        "options": {
          "queryParams": "={{ [$json.snapshot_date] }}"
        }
      },
      "id": "get-sales-stats",
      "name": "📊 売上統計取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_products, COUNT(CASE WHEN physical_quantity = 0 THEN 1 END) as out_of_stock, COUNT(CASE WHEN physical_quantity <= 3 AND physical_quantity > 0 THEN 1 END) as low_stock, SUM(physical_quantity * COALESCE(cost_price, 0)) as inventory_value FROM inventory_master",
        "options": {}
      },
      "id": "get-inventory-stats",
      "name": "📦 在庫統計取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_tasks, COUNT(CASE WHEN priority = 'high' THEN 1 END) as high_priority, COUNT(CASE WHEN status = 'pending' THEN 1 END) as pending_tasks, COUNT(CASE WHEN task_type = 'inquiry' THEN 1 END) as inquiry_count FROM admin_tasks WHERE DATE(created_at) = $1",
        "options": {
          "queryParams": "={{ [$node['🔐 初期化'].json.snapshot_date] }}"
        }
      },
      "id": "get-task-stats",
      "name": "📋 タスク統計取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_listed, COUNT(CASE WHEN status = 'active' THEN 1 END) as active_listings, AVG(CASE WHEN listing_price > 0 THEN (listing_price - COALESCE(cost_price,0)) / listing_price * 100 END) as avg_margin FROM products_master WHERE status IN ('active', 'listed')",
        "options": {}
      },
      "id": "get-listing-stats",
      "name": "🏷️ 出品統計取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $node['🔐 初期化'].json;\nconst sales = $node['📊 売上統計取得'].json || {};\nconst inventory = $node['📦 在庫統計取得'].json || {};\nconst tasks = $node['📋 タスク統計取得'].json || {};\nconst listings = $node['🏷️ 出品統計取得'].json || {};\nconst snapshot = {\n  snapshot_date: config.snapshot_date,\n  sales: {\n    total_orders: parseInt(sales.total_orders) || 0,\n    total_revenue: parseFloat(sales.total_revenue) || 0,\n    shipped_orders: parseInt(sales.shipped_orders) || 0,\n    pending_orders: parseInt(sales.pending_orders) || 0\n  },\n  inventory: {\n    total_products: parseInt(inventory.total_products) || 0,\n    out_of_stock: parseInt(inventory.out_of_stock) || 0,\n    low_stock: parseInt(inventory.low_stock) || 0,\n    inventory_value: parseFloat(inventory.inventory_value) || 0\n  },\n  tasks: {\n    total_tasks: parseInt(tasks.total_tasks) || 0,\n    high_priority: parseInt(tasks.high_priority) || 0,\n    pending_tasks: parseInt(tasks.pending_tasks) || 0,\n    inquiry_count: parseInt(tasks.inquiry_count) || 0\n  },\n  listings: {\n    total_listed: parseInt(listings.total_listed) || 0,\n    active_listings: parseInt(listings.active_listings) || 0,\n    avg_margin: parseFloat(listings.avg_margin) || 0\n  }\n};\nreturn [{ json: snapshot }];"
      },
      "id": "aggregate-stats",
      "name": "📈 統計集約",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO performance_snapshots (snapshot_date, sales_data, inventory_data, tasks_data, listings_data, created_at) VALUES ($1, $2::jsonb, $3::jsonb, $4::jsonb, $5::jsonb, NOW()) ON CONFLICT (snapshot_date) DO UPDATE SET sales_data = EXCLUDED.sales_data, inventory_data = EXCLUDED.inventory_data, tasks_data = EXCLUDED.tasks_data, listings_data = EXCLUDED.listings_data, updated_at = NOW() RETURNING id",
        "options": {
          "queryParams": "={{ [$json.snapshot_date, JSON.stringify($json.sales), JSON.stringify($json.inventory), JSON.stringify($json.tasks), JSON.stringify($json.listings)] }}"
        }
      },
      "id": "save-snapshot",
      "name": "💾 スナップショット保存",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stock-alert",
              "leftValue": "={{ $json.inventory.out_of_stock }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        }
      },
      "id": "check-stock-alert",
      "name": "在庫切れ多数？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.CHATWORK_API_URL }}/v2/rooms/{{ $env.CHATWORK_ROOM_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{ $env.CHATWORK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "=[info][title]⚠️ 在庫アラート[/title]在庫切れ: {{ $json.inventory.out_of_stock }}件\\n残り僅か: {{ $json.inventory.low_stock }}件\\n\\n早急な補充をご検討ください[/info]"
            }
          ]
        }
      },
      "id": "stock-alert",
      "name": "🚨 在庫アラート",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.CHATWORK_API_URL }}/v2/rooms/{{ $env.CHATWORK_ROOM_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{ $env.CHATWORK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "=[info][title]📊 日次レポート ({{ $json.snapshot_date }})[/title]【売上】\\n注文数: {{ $json.sales.total_orders }}件\\n売上: ${{ $json.sales.total_revenue }}\\n出荷済: {{ $json.sales.shipped_orders }}件\\n\\n【在庫】\\n総商品: {{ $json.inventory.total_products }}件\\n在庫切れ: {{ $json.inventory.out_of_stock }}件\\n在庫価値: ¥{{ Math.round($json.inventory.inventory_value) }}\\n\\n【タスク】\\n未処理: {{ $json.tasks.pending_tasks }}件\\n高優先: {{ $json.tasks.high_priority }}件\\n\\n【出品】\\nアクティブ: {{ $json.listings.active_listings }}件\\n平均利益率: {{ Math.round($json.listings.avg_margin) }}%[/info]"
            }
          ]
        }
      },
      "id": "daily-report",
      "name": "📊 日次レポート送信",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const snapshot = $input.first().json;\nreturn [{ json: { success: true, snapshot_date: snapshot.snapshot_date, summary: { orders: snapshot.sales.total_orders, revenue: snapshot.sales.total_revenue, out_of_stock: snapshot.inventory.out_of_stock, pending_tasks: snapshot.tasks.pending_tasks, active_listings: snapshot.listings.active_listings } } }];"
      },
      "id": "prepare-response",
      "name": "📤 レスポンス準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "✅ 成功応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// N3 HMAC署名検証（要塞化自動挿入）\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || $input.first().json;\n\nconst signature = headers['x-n3-signature'] || headers['X-N3-Signature'] || '';\nconst timestamp = headers['x-n3-timestamp'] || headers['X-N3-Timestamp'] || '';\n\nif (signature && timestamp) {\n  const secret = $env.N3_HMAC_SECRET;\n  if (!secret) {\n    return [{ json: { error: true, message: 'N3_HMAC_SECRET 環境変数が未設定', code: 'CONFIG_ERROR' } }];\n  }\n  \n  const ts = parseInt(timestamp, 10);\n  const now = Math.floor(Date.now() / 1000);\n  if (Math.abs(now - ts) > 300) {\n    return [{ json: { error: true, message: 'タイムスタンプ期限切れ', code: 'TIMESTAMP_EXPIRED' } }];\n  }\n  \n  try {\n    const verifyUrl = $env.PRICING_ENGINE_URL || 'http://localhost:8000';\n    const payload = JSON.stringify(body);\n    const response = await fetch(`${verifyUrl}/verify-signature`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ payload, signature, timestamp })\n    });\n    const result = await response.json();\n    if (!result.valid) {\n      return [{ json: { error: true, message: '署名検証失敗: ' + (result.error || ''), code: 'INVALID_SIGNATURE' } }];\n    }\n  } catch (e) {\n    console.log('署名検証スキップ: ' + e.message);\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[FORTRESS_AUTO_INSERTED] HMAC署名検証",
      "id": "hmac_verify_29134cc1",
      "name": "🔐 署名検証 (Webhook: dashboard-snapshot)"
    }
  ],
  "connections": {
    "Webhook: dashboard-snapshot": {
      "main": [
        [
          {
            "node": "🔐 署名検証 (Webhook: dashboard-snapshot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "毎日0時実行": {
      "main": [
        [
          {
            "node": "🔐 初期化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 初期化": {
      "main": [
        [
          {
            "node": "エラーチェック",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラーチェック": {
      "main": [
        [
          {
            "node": "エラー応答",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 売上統計取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 売上統計取得": {
      "main": [
        [
          {
            "node": "📦 在庫統計取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 在庫統計取得": {
      "main": [
        [
          {
            "node": "📋 タスク統計取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 タスク統計取得": {
      "main": [
        [
          {
            "node": "🏷️ 出品統計取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏷️ 出品統計取得": {
      "main": [
        [
          {
            "node": "📈 統計集約",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📈 統計集約": {
      "main": [
        [
          {
            "node": "💾 スナップショット保存",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 スナップショット保存": {
      "main": [
        [
          {
            "node": "在庫切れ多数？",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "在庫切れ多数？": {
      "main": [
        [
          {
            "node": "🚨 在庫アラート",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 日次レポート送信",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 在庫アラート": {
      "main": [
        [
          {
            "node": "📊 日次レポート送信",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 日次レポート送信": {
      "main": [
        [
          {
            "node": "📤 レスポンス準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 レスポンス準備": {
      "main": [
        [
          {
            "node": "✅ 成功応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 署名検証 (Webhook: dashboard-snapshot)": {
      "main": [
        [
          {
            "node": "🔐 初期化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 300,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none"
  },
  "tags": [
    {
      "name": "N3-System",
      "color": "#2e8b57"
    },
    {
      "name": "V5-PRODUCTION",
      "color": "#00ff00"
    },
    {
      "name": "No-Crypto",
      "color": "#9932cc"
    },
    {
      "name": "SQL-Safe",
      "color": "#32cd32"
    },
    {
      "name": "Dashboard",
      "color": "#4682b4"
    },
    {
      "name": "FORTRESS",
      "color": "#dc143c"
    },
    {
      "name": "V6-ENHANCED",
      "color": "#00bfff"
    }
  ],
  "active": false,
  "_fortress_converted": true,
  "_fortress_version": "1.0.0",
  "_fortress_timestamp": "2026-01-22T15:03:42.494917+00:00",
  "_python_migration_count": 0,
  "_python_migration_timestamp": "2026-01-22T16:06:56.425423+00:00"
}