n8n-workflows/システム/【システム】03_21-システム-自動バックアップ_V5.json
{
  "name": "【システム】03_21-システム-自動バックアップ_V5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * 0"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "毎週日曜AM4時",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "backup-trigger",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook",
      "name": "Webhook: backup-trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "backup-trigger"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst timestamp = now.toISOString().replace(/[:.]/g, '-').slice(0, 19);\nconst backupName = `n3-backup-${timestamp}`;\nreturn [{ json: { backup_name: backupName, timestamp: now.toISOString(), tables: ['products_master', 'inventory_master', 'orders_unified', 'research_results', 'admin_tasks', 'global_settings', 'logistics_providers', 'performance_snapshots'] } }];"
      },
      "id": "init",
      "name": "🔐 初期化",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_name, pg_size_pretty(pg_total_relation_size(quote_ident(table_name))) as size, (SELECT count(*) FROM information_schema.columns WHERE table_name = t.table_name) as columns FROM information_schema.tables t WHERE table_schema = 'public' AND table_type = 'BASE TABLE' ORDER BY pg_total_relation_size(quote_ident(table_name)) DESC LIMIT 20",
        "options": {}
      },
      "id": "get-table-stats",
      "name": "📊 テーブル統計取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as products_count FROM products_master",
        "options": {}
      },
      "id": "count-products",
      "name": "📦 商品数カウント",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as orders_count FROM orders_unified",
        "options": {}
      },
      "id": "count-orders",
      "name": "🛒 受注数カウント",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $node['🔐 初期化'].json;\nconst tableStats = $node['📊 テーブル統計取得'].json;\nconst productsCount = $node['📦 商品数カウント'].json?.products_count || 0;\nconst ordersCount = $node['🛒 受注数カウント'].json?.orders_count || 0;\nconst backupSummary = {\n  backup_name: config.backup_name,\n  timestamp: config.timestamp,\n  stats: {\n    products: parseInt(productsCount),\n    orders: parseInt(ordersCount),\n    tables: Array.isArray(tableStats) ? tableStats.length : 1\n  },\n  table_details: tableStats\n};\nreturn [{ json: backupSummary }];"
      },
      "id": "compile-stats",
      "name": "📋 統計コンパイル",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO performance_snapshots (snapshot_date, sales_data, inventory_data, tasks_data, listings_data) VALUES (CURRENT_DATE, $1::jsonb, '{}'::jsonb, '{}'::jsonb, '{}'::jsonb) ON CONFLICT (snapshot_date) DO UPDATE SET sales_data = EXCLUDED.sales_data, updated_at = NOW()",
        "options": {
          "queryParams": "={{ [JSON.stringify({ backup_info: $json })] }}"
        }
      },
      "id": "log-backup",
      "name": "💾 バックアップログ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.CHATWORK_API_URL }}/v2/rooms/{{ $env.CHATWORK_ROOM_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{ $env.CHATWORK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "=[info][title]💾 週次バックアップ完了[/title]バックアップ名: {{ $json.backup_name }}\\n\\n【統計】\\n商品数: {{ $json.stats.products }}件\\n受注数: {{ $json.stats.orders }}件\\nテーブル数: {{ $json.stats.tables }}\\n\\n※Supabase自動バックアップと連携[/info]"
            }
          ]
        }
      },
      "id": "notify",
      "name": "📢 完了通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, backup: $json }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "✅ 成功応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// N3 HMAC署名検証（要塞化自動挿入）\nconst headers = $input.first().json.headers || {};\nconst body = $input.first().json.body || $input.first().json;\n\nconst signature = headers['x-n3-signature'] || headers['X-N3-Signature'] || '';\nconst timestamp = headers['x-n3-timestamp'] || headers['X-N3-Timestamp'] || '';\n\nif (signature && timestamp) {\n  const secret = $env.N3_HMAC_SECRET;\n  if (!secret) {\n    return [{ json: { error: true, message: 'N3_HMAC_SECRET 環境変数が未設定', code: 'CONFIG_ERROR' } }];\n  }\n  \n  const ts = parseInt(timestamp, 10);\n  const now = Math.floor(Date.now() / 1000);\n  if (Math.abs(now - ts) > 300) {\n    return [{ json: { error: true, message: 'タイムスタンプ期限切れ', code: 'TIMESTAMP_EXPIRED' } }];\n  }\n  \n  try {\n    const verifyUrl = $env.PRICING_ENGINE_URL || 'http://localhost:8000';\n    const payload = JSON.stringify(body);\n    const response = await fetch(`${verifyUrl}/verify-signature`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ payload, signature, timestamp })\n    });\n    const result = await response.json();\n    if (!result.valid) {\n      return [{ json: { error: true, message: '署名検証失敗: ' + (result.error || ''), code: 'INVALID_SIGNATURE' } }];\n    }\n  } catch (e) {\n    console.log('署名検証スキップ: ' + e.message);\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[FORTRESS_AUTO_INSERTED] HMAC署名検証",
      "id": "hmac_verify_a5214153",
      "name": "🔐 署名検証 (Webhook: backup-trigger)"
    }
  ],
  "connections": {
    "毎週日曜AM4時": {
      "main": [
        [
          {
            "node": "🔐 初期化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: backup-trigger": {
      "main": [
        [
          {
            "node": "🔐 署名検証 (Webhook: backup-trigger)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 初期化": {
      "main": [
        [
          {
            "node": "📊 テーブル統計取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 テーブル統計取得": {
      "main": [
        [
          {
            "node": "📦 商品数カウント",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 商品数カウント": {
      "main": [
        [
          {
            "node": "🛒 受注数カウント",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛒 受注数カウント": {
      "main": [
        [
          {
            "node": "📋 統計コンパイル",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 統計コンパイル": {
      "main": [
        [
          {
            "node": "💾 バックアップログ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 バックアップログ": {
      "main": [
        [
          {
            "node": "📢 完了通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📢 完了通知": {
      "main": [
        [
          {
            "node": "✅ 成功応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 署名検証 (Webhook: backup-trigger)": {
      "main": [
        [
          {
            "node": "🔐 初期化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 300,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none"
  },
  "tags": [
    {
      "name": "N3-System",
      "color": "#2e8b57"
    },
    {
      "name": "V5-PRODUCTION",
      "color": "#00ff00"
    },
    {
      "name": "Backup",
      "color": "#4682b4"
    },
    {
      "name": "FORTRESS",
      "color": "#dc143c"
    },
    {
      "name": "V6-ENHANCED",
      "color": "#00bfff"
    }
  ],
  "active": false,
  "_fortress_converted": true,
  "_fortress_version": "1.0.0",
  "_fortress_timestamp": "2026-01-22T15:03:42.496201+00:00",
  "_python_migration_count": 0,
  "_python_migration_timestamp": "2026-01-22T16:06:56.431910+00:00"
}