n8n-workflows/同期/N3-SPREADSHEET-PULL-MONITOR.json
{
  "name": "N3-SPREADSHEET-PULL-MONITOR",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "30分毎トリガー",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.APP_URL || 'http://localhost:3000'}}/api/cron/spreadsheet-pull",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.CRON_SECRET}}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "retry": {
            "attempts": 3,
            "delay": 1000,
            "backoff": "exponential"
          }
        }
      },
      "id": "http-request",
      "name": "Pull API呼び出し",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{$json.success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "成功判定",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chatwork.com/v2/rooms/{{$env.CHATWORK_ROOM_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{$env.CHATWORK_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "[info][title]✅ Spreadsheet Pull 完了[/title]時刻: {{$now.format('yyyy-MM-dd HH:mm:ss')}}\n更新: {{$json.stats.updated || 0}}件\nスキップ: {{$json.stats.skipped || 0}}件\n競合: {{$json.stats.conflicts || 0}}件\n所要時間: {{$json.duration_ms}}ms[/info]"
            }
          ]
        },
        "options": {
          "retry": {
            "attempts": 3,
            "delay": 1000,
            "backoff": "exponential"
          },
          "timeout": 30000
        }
      },
      "id": "chatwork-success",
      "name": "成功通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chatwork.com/v2/rooms/{{$env.CHATWORK_ROOM_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{$env.CHATWORK_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "[info][title]❌ Spreadsheet Sync Failed[/title]時刻: {{$now.format('yyyy-MM-dd HH:mm:ss')}}\nエラー: {{$json.error || 'Unknown error'}}\n詳細: ツールの /api/cron/spreadsheet-pull を確認してください[/info]"
            }
          ]
        },
        "options": {
          "retry": {
            "attempts": 3,
            "delay": 1000,
            "backoff": "exponential"
          },
          "timeout": 30000
        }
      },
      "id": "chatwork-error",
      "name": "エラー通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {},
      "id": "noop-end",
      "name": "完了",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "30分毎トリガー": {
      "main": [
        [
          {
            "node": "Pull API呼び出し",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull API呼び出し": {
      "main": [
        [
          {
            "node": "成功判定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "成功判定": {
      "main": [
        [
          {
            "node": "成功通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "エラー通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "成功通知": {
      "main": [
        [
          {
            "node": "完了",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラー通知": {
      "main": [
        [
          {
            "node": "完了",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateId": "n3-spreadsheet-pull-monitor",
    "instanceId": "n3-empire-os"
  },
  "tags": [
    {
      "name": "N3",
      "id": "n3"
    },
    {
      "name": "Spreadsheet",
      "id": "spreadsheet"
    },
    {
      "name": "Cron",
      "id": "cron"
    }
  ]
}