n8n-workflows/出品/_archive/【出品】05_25-中国-越境EC出品ゲートウェイ_V5.json
{
  "name": "【出品】05_25-中国-越境EC出品ゲートウェイ_V5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "china-listing",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook",
      "name": "Webhook: china-listing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "china-listing"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json || {};\nconst apiUrl = $env.N3_API_URL || '{{$env.GATEWAY_URL}}';\nconst secret = $env.N8N_INTERNAL_SECRET;\nif (!secret) return [{ json: { error: true, message: 'N8N_INTERNAL_SECRET未設定', code: 'CONFIG_ERROR' } }];\nconst productId = body.product_id;\nconst marketplace = body.marketplace || 'tmall_global';\nconst shippingModel = body.shipping_model || 'direct';\nconst bondedWarehouse = body.bonded_warehouse || null;\nif (!productId) return [{ json: { error: true, message: 'product_id は必須', code: 'MISSING_PARAM' } }];\nreturn [{ json: { product_id: productId, marketplace: marketplace, shipping_model: shippingModel, bonded_warehouse: bondedWarehouse, api_url: apiUrl } }];"
      },
      "id": "init",
      "name": "🔐 初期化",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-error",
      "name": "エラーチェック",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message, code: $json.code }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "エラー応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pm.*, im.quantity, im.purchase_price FROM products_master pm LEFT JOIN inventory_master im ON pm.id = im.product_id WHERE pm.id = $1",
        "options": {
          "queryParams": "={{ [$json.product_id] }}"
        }
      },
      "id": "get-product",
      "name": "📦 商品情報取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM china_marketplaces WHERE platform_code = $1 AND is_active = true",
        "options": {
          "queryParams": "={{ [$node['🔐 初期化'].json.marketplace] }}"
        }
      },
      "id": "get-marketplace",
      "name": "🏪 販路情報取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM china_product_compliance WHERE product_id = $1",
        "options": {
          "queryParams": "={{ [$node['🔐 初期化'].json.product_id] }}"
        }
      },
      "id": "get-compliance",
      "name": "📋 規制情報取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT setting_key, setting_value FROM global_settings WHERE setting_key LIKE 'exchange_rate_%' OR setting_key LIKE 'china_%' OR setting_key LIKE '%_fee_%'",
        "options": {}
      },
      "id": "get-settings",
      "name": "⚙️ 設定取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $node['🔐 初期化'].json;\nconst productRaw = $node['📦 商品情報取得'].json;\nconst marketplaceRaw = $node['🏪 販路情報取得'].json;\nconst complianceRaw = $node['📋 規制情報取得'].json;\nconst settingsRaw = $node['⚙️ 設定取得'].json;\n\nconst product = Array.isArray(productRaw) ? productRaw[0] : productRaw;\nconst marketplace = Array.isArray(marketplaceRaw) ? marketplaceRaw[0] : marketplaceRaw;\nconst compliance = Array.isArray(complianceRaw) ? complianceRaw[0] : complianceRaw;\n\nif (!product || !product.id) return [{ json: { error: true, message: '商品が見つかりません' } }];\nif (!marketplace) return [{ json: { error: true, message: '販路が見つかりません' } }];\n\n// 規制チェック\nif (compliance && compliance.is_restricted) {\n  return [{ json: { error: true, message: `規制対象商品: ${compliance.restriction_reason}`, code: 'RESTRICTED' } }];\n}\n\n// 設定をオブジェクト化\nconst settings = {};\nconst settingsArray = Array.isArray(settingsRaw) ? settingsRaw : [settingsRaw];\nsettingsArray.forEach(s => { if (s && s.setting_key) settings[s.setting_key] = parseFloat(s.setting_value) || s.setting_value; });\n\n// 為替レート\nconst jpyToCny = 1 / (settings.exchange_rate_cny_jpy || 21);\nconst usdToCny = settings.exchange_rate_usd_cny || 7.2;\n\n// 価格計算（JPY → CNY）\nconst purchasePrice = parseFloat(product.purchase_price) || 0;\nconst purchaseCny = purchasePrice * jpyToCny;\n\n// 越境EC税率（5000CNY以下は9.1%）\nconst cbecTaxRate = settings.china_cbec_composite_tax || 0.091;\nconst commissionRate = parseFloat(marketplace.commission_rate) || 0.05;\nconst paymentFeeRate = parseFloat(marketplace.payment_fee_rate) || 0.02;\n\n// 配送コスト\nconst shippingCost = config.shipping_model === 'bonded' ? 15 : 30; // CNY\n\n// 原価計算\nconst totalCost = purchaseCny + shippingCost;\nconst costWithTax = totalCost * (1 + cbecTaxRate);\n\n// 販売価格（目標利益率20%）\nconst targetMargin = 0.20;\nconst salePriceCny = costWithTax / (1 - commissionRate - paymentFeeRate - targetMargin);\nconst originalPriceCny = salePriceCny * 1.3; // 定価（取り消し線用）\n\nreturn [{ json: { product_id: product.id, product_title: product.title || product.name, marketplace: config.marketplace, marketplace_name: marketplace.platform_name_cn, shipping_model: config.shipping_model, purchase_price_jpy: purchasePrice, purchase_price_cny: Math.round(purchaseCny * 100) / 100, shipping_cost_cny: shippingCost, cbec_tax_rate: cbecTaxRate, commission_rate: commissionRate, payment_fee_rate: paymentFeeRate, calculated_price_cny: Math.round(salePriceCny * 100) / 100, original_price_cny: Math.round(originalPriceCny * 100) / 100, compliance_status: compliance?.certification_status || 'not_checked', requires_cn_label: compliance?.cn_label_required !== false } }];"
      },
      "id": "calc-price",
      "name": "💰 価格計算",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "calc-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-calc-error",
      "name": "計算エラー？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message, code: $json.code || 'CALC_ERROR' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-calc-error",
      "name": "計算エラー応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['🔐 初期化'].json.api_url }}/api/ai/translate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.product_title, target_lang: 'zh-CN', source_lang: 'ja', optimize_for: 'ecommerce_cn' }) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "translate-cn",
      "name": "🇨🇳 中国語翻訳",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const calcResult = $node['💰 価格計算'].json;\nconst translateResult = $input.first().json;\nconst titleCn = translateResult.translated || translateResult.text || `【日本直送】${calcResult.product_title}`;\nreturn [{ json: { ...calcResult, title_cn: titleCn } }];"
      },
      "id": "merge-translate",
      "name": "📋 翻訳統合",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO china_listings (product_id, marketplace_id, title_cn, price_cny, original_price_cny, shipping_model, listing_status) SELECT $1, cm.id, $2, $3, $4, $5, 'draft' FROM china_marketplaces cm WHERE cm.platform_code = $6 RETURNING id",
        "options": {
          "queryParams": "={{ [$json.product_id, $json.title_cn, $json.calculated_price_cny, $json.original_price_cny, $json.shipping_model, $json.marketplace] }}"
        }
      },
      "id": "save-listing",
      "name": "💾 出品保存",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $node['📋 翻訳統合'].json;\nconst saveResult = $input.first().json;\nreturn [{ json: { success: true, listing_id: saveResult?.id || null, product_id: data.product_id, marketplace: data.marketplace, marketplace_name: data.marketplace_name, title_cn: data.title_cn, price_cny: data.calculated_price_cny, original_price_cny: data.original_price_cny, shipping_model: data.shipping_model, compliance_status: data.compliance_status, requires_cn_label: data.requires_cn_label } }];"
      },
      "id": "format-response",
      "name": "📋 レスポンス整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "✅ 成功応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// 🔐 HMAC SHA256 署名検証 (Empire OS v6)\nconst crypto = require('crypto');\n\nconst signature = $request.headers['x-n3-signature'] || $request.headers['X-N3-Signature'];\nconst timestamp = $request.headers['x-n3-timestamp'] || $request.headers['X-N3-Timestamp'];\nconst secret = $env.N8N_HMAC_SECRET;\n\nif (!secret) {\n  throw new Error('🚫 N8N_HMAC_SECRET 環境変数が未設定です');\n}\n\nif (!signature || !timestamp) {\n  throw new Error('🚫 署名またはタイムスタンプが欠落しています');\n}\n\n// タイムスタンプ有効期限チェック (5分)\nconst now = Date.now();\nconst tsAge = now - parseInt(timestamp);\nif (tsAge > 300000 || tsAge < -30000) {\n  throw new Error('🚫 タイムスタンプが期限切れまたは不正です');\n}\n\n// HMAC検証\nconst bodyString = JSON.stringify($json);\nconst computedHmac = crypto\n  .createHmac('sha256', secret)\n  .update(timestamp + '.' + bodyString)\n  .digest('hex');\n\nif (signature !== computedHmac) {\n  throw new Error('🚫 HMAC署名検証失敗: 不正なリクエスト');\n}\n\n// 検証成功 - 元データをそのまま返す\nreturn [{ json: $json }];"
      },
      "name": "🔐 HMAC署名検証",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[EMPIRE_OS_V6] セキュリティ強制挿入"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/execution_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_id\": \"{{$workflow.id}}\",\n  \"workflow_name\": \"{{$workflow.name}}\",\n  \"status\": \"success\",\n  \"execution_time_ms\": {{Date.now() - $execution.startedAt.getTime()}},\n  \"error_message\": null,\n  \"executed_at\": \"{{new Date().toISOString()}}\",\n  \"node_count\": {{$workflow.nodes.length}},\n  \"metadata\": {}\n}"
      },
      "name": "📊 実行ログ送信 (成功)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "notes": "[EMPIRE_OS_V6] 中央監視パルス"
    }
  ],
  "connections": {
    "Webhook: china-listing": {
      "main": [
        [
          {
            "node": "🔐 HMAC署名検証",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 初期化": {
      "main": [
        [
          {
            "node": "エラーチェック",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラーチェック": {
      "main": [
        [
          {
            "node": "エラー応答",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 商品情報取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 商品情報取得": {
      "main": [
        [
          {
            "node": "🏪 販路情報取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏪 販路情報取得": {
      "main": [
        [
          {
            "node": "📋 規制情報取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 規制情報取得": {
      "main": [
        [
          {
            "node": "⚙️ 設定取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ 設定取得": {
      "main": [
        [
          {
            "node": "💰 価格計算",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 価格計算": {
      "main": [
        [
          {
            "node": "計算エラー？",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "計算エラー？": {
      "main": [
        [
          {
            "node": "計算エラー応答",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🇨🇳 中国語翻訳",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🇨🇳 中国語翻訳": {
      "main": [
        [
          {
            "node": "📋 翻訳統合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 翻訳統合": {
      "main": [
        [
          {
            "node": "💾 出品保存",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 出品保存": {
      "main": [
        [
          {
            "node": "📋 レスポンス整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 レスポンス整形": {
      "main": [
        [
          {
            "node": "✅ 成功応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 HMAC署名検証": {
      "main": [
        [
          {
            "node": "🔐 初期化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 180,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    {
      "name": "N3-China",
      "color": "#dc143c"
    },
    {
      "name": "V5-PRODUCTION",
      "color": "#00ff00"
    },
    {
      "name": "CBEC",
      "color": "#ffd700"
    },
    {
      "name": "Empire-OS-V6",
      "color": "#ff4500"
    }
  ],
  "active": false
}