n8n-workflows/出品/_archive/【出品】02_06b-eBay出品-エラー復旧エージェント_V5.json
{
  "name": "【出品】02_06b-eBay出品-エラー復旧エージェント_V5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-recovery-agent",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook",
      "name": "Webhook: エラー復旧依頼",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "error-recovery-agent"
    },
    {
      "parameters": {
        "jsCode": "// V5-PRODUCTION: 内部トークン検証（crypto依存排除版）\n// ========================================\nconst body = $input.first().json.body || $input.first().json;\nconst headers = $input.first().json.headers || {};\n\n// 環境変数必須チェック\nconst apiUrl = $env.N3_API_URL;\nconst secret = $env.N8N_INTERNAL_SECRET;\nif (!apiUrl) {\n  return [{ json: { error: true, message: 'N3_API_URL 環境変数が未設定です', code: 'CONFIG_ERROR' } }];\n}\nif (!secret) {\n  return [{ json: { error: true, message: 'N8N_INTERNAL_SECRET 環境変数が未設定です', code: 'CONFIG_ERROR' } }];\n}\n\nconst internalToken = headers['x-n3-signature'] || headers['X-N3-Signature'];\nconst tokenTimestamp = headers['x-n3-token-timestamp'] || headers['X-N3-Token-Timestamp'];\nconst userId = body.user_id || 'default';\n\n// トークン検証（外部APIへ委譲）\nif (internalToken && tokenTimestamp) {\n  try {\n    const verifyResponse = await fetch(`${apiUrl}/api/n8n-auth/verify-internal-token`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ userId, timestamp: tokenTimestamp, token: internalToken })\n    });\n    const verifyResult = await verifyResponse.json();\n    \n    if (!verifyResult.valid) {\n      return [{ json: { error: true, message: '内部トークンが無効です', code: 'INVALID_TOKEN' } }];\n    }\n  } catch (e) {\n    return [{ json: { error: true, message: 'トークン検証APIエラー: ' + e.message, code: 'VERIFY_API_ERROR' } }];\n  }\n}\n\n// 入力検証\nconst productId = body.product_id;\nconst marketplace = body.marketplace || 'ebay_us';\nconst limit = body.limit || 10;\nconst force = body.force || false;\n\nreturn [{ json: { \n  product_id: productId, \n  marketplace: marketplace, \n  user_id: userId,\n  limit: limit,\n  force: force,\n  request_timestamp: new Date().toISOString()\n} }];"
      },
      "id": "validate",
      "name": "リクエスト検証",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-error",
      "name": "エラーチェック",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message }) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "respond-error",
      "name": "エラー応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT p.id, p.sku, p.english_title, p.title, p.ebay_category_id, p.ddp_price_usd, p.price_usd, p.condition, p.listing_data, COALESCE(p.ebay_account, 'mjt') as ebay_account, p.user_id, p.updated_at, elh.error_code, elh.error_message, elh.created_at as error_at, COALESCE((SELECT COUNT(*) FROM error_recovery_attempts era WHERE era.product_id = p.id AND era.created_at > NOW() - INTERVAL '24 hours'), 0) as retry_count_24h FROM products_master p INNER JOIN ebay_listing_history elh ON p.id = elh.product_id WHERE p.workflow_status = 'error' AND p.user_id = $1 AND elh.result = 'error' AND elh.created_at = (SELECT MAX(created_at) FROM ebay_listing_history WHERE product_id = p.id) AND ($2 = true OR NOT EXISTS (SELECT 1 FROM error_recovery_attempts era WHERE era.product_id = p.id AND era.created_at > NOW() - INTERVAL '24 hours')) ORDER BY elh.created_at DESC LIMIT $3",
        "options": {
          "queryParams": "={{ [{{ $json.user_id }}, {{ $json.force }}, {{ $json.limit }}] }}"
        }
      },
      "id": "get-errors",
      "name": "エラー商品取得（24hリトライ制限・user_id検証）",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Array.isArray($json) ? $json.length : ($json.id ? 1 : 0) }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-empty",
      "name": "対象有無",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, summary: { total: 0 }, message: 'エラー商品なし（または24h以内にリトライ済み）' } }];"
      },
      "id": "no-errors",
      "name": "対象なし",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT error_code, error_category, auto_recoverable, recovery_strategy, required_fields FROM ebay_error_dictionary",
        "options": {}
      },
      "id": "get-dict",
      "name": "エラー辞書取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// V4-PRODUCTION: エラー情報整理\nconst errors = $node['エラー商品取得（24hリトライ制限・user_id検証）'].json;\nconst errorArr = Array.isArray(errors) ? errors : [errors];\nconst dictArr = Array.isArray($input.first().json) ? $input.first().json : [$input.first().json];\nconst errorDict = dictArr.reduce((acc, e) => { if (e.error_code) acc[e.error_code] = e; return acc; }, {});\n\nreturn errorArr.filter(p => p.id).map(p => {\n  const info = errorDict[p.error_code] || { error_category: 'unknown', auto_recoverable: false, recovery_strategy: 'Manual review' };\n  return { json: {\n    user_id: p.user_id, product_id: p.id, sku: p.sku, updated_at: p.updated_at,\n    title: p.english_title || p.title, category_id: p.ebay_category_id, condition: p.condition,\n    price_usd: p.ddp_price_usd || p.price_usd, listing_data: p.listing_data, ebay_account: p.ebay_account,\n    error_code: p.error_code, error_message: p.error_message, error_category: info.error_category,\n    auto_recoverable: info.auto_recoverable, recovery_strategy: info.recovery_strategy,\n    retry_count_24h: p.retry_count_24h || 0\n  } };\n});"
      },
      "id": "prepare",
      "name": "エラー情報整理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch",
      "name": "1件ずつ処理",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.auto_recoverable }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-recoverable",
      "name": "自動復旧可能？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { ...data, success: false, action: 'not_auto_recoverable', reason: data.recovery_strategy } }];"
      },
      "id": "not-recoverable",
      "name": "自動復旧不可",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N3_API_URL || '{{$env.GATEWAY_URL}}' }}/api/ai/analyze",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gemini-1.5-flash', prompt: 'eBay出品エラーを解析し修正データを提案してください。\\n\\n【商品】SKU: ' + $json.sku + ', タイトル: ' + $json.title + ', カテゴリID: ' + $json.category_id + '\\n【エラー】コード: ' + $json.error_code + ', メッセージ: ' + ($json.error_message || '').substring(0, 300) + '\\n【カテゴリ】' + $json.error_category + '\\n【戦略】' + $json.recovery_strategy + '\\n\\nJSON形式で回答: {\"diagnosis\":\"診断\",\"corrections\":{\"Brand\":\"値\",\"MPN\":\"値\"},\"confidence\":0.8,\"reasoning\":\"理由\"}' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ai-diagnose",
      "name": "Gemini: エラー診断",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// V4-PRODUCTION: AI診断結果パース＋修正適用\nlet ai = { diagnosis: 'Parse error', corrections: {}, confidence: 0.5, reasoning: '' };\ntry {\n  const text = $input.first().json.text || $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) ai = JSON.parse(jsonMatch[0]);\n} catch (e) { ai.reasoning = 'AI応答パース失敗'; }\n\nconst prev = $node['1件ずつ処理'].json;\nconst confidence = ai.confidence || 0.5;\n\nif (confidence < 0.6) {\n  return [{ json: { ...prev, success: false, action: 'needs_review', reason: '信頼度低(' + Math.round(confidence*100) + '%)' } }];\n}\n\n// 修正データ適用\nlet listingData = {};\ntry { listingData = typeof prev.listing_data === 'string' ? JSON.parse(prev.listing_data || '{}') : (prev.listing_data || {}); } catch (e) {}\n\nconst itemSpecifics = listingData.item_specifics || {};\nfor (const [key, value] of Object.entries(ai.corrections || {})) {\n  if (value && typeof value === 'string') itemSpecifics[key] = value;\n}\nif (!itemSpecifics.MPN && prev.error_category === 'item_specifics') itemSpecifics.MPN = 'Does Not Apply';\nif (!itemSpecifics.Brand && prev.error_category === 'item_specifics') itemSpecifics.Brand = 'Unbranded';\nlistingData.item_specifics = itemSpecifics;\n\nreturn [{ json: { ...prev, success: true, action: 'data_corrected', ai_diagnosis: ai, updated_listing_data: listingData, corrections: ai.corrections || {}, confidence } }];"
      },
      "id": "parse-apply",
      "name": "診断結果パース＆修正適用",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "修正成功？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE products_master SET listing_data = $1::jsonb, workflow_status = 'approved', updated_at = NOW() WHERE id = $2 AND user_id = $3 AND updated_at = $4 RETURNING id",
        "options": {
          "queryParams": "={{ [{{ JSON.stringify($json.updated_listing_data).replace(/'/g, \"''\") }}, {{ $json.product_id }}, {{ $json.user_id }}, {{ $json.updated_at }}] }}"
        }
      },
      "id": "update-product",
      "name": "修正データDB保存（楽観的ロック）",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO error_recovery_attempts (user_id, product_id, sku, original_error_code, original_error_message, ai_diagnosis, recovery_strategy, data_corrections, retry_result, attempt_number, created_at) VALUES ($1, $2, $3, $4, $5, '{{ JSON.stringify({ d: ($json.ai_diagnosis?.diagnosis || '').substring(0, 100), c: $json.confidence }).replace(/'/g, \"''\") }}'::jsonb, $6, '{{ JSON.stringify($json.corrections || {}).replace(/'/g, \"''\") }}'::jsonb, $7, $8, NOW())",
        "options": {
          "queryParams": "={{ [{{ $json.user_id }}, {{ $json.product_id }}, {{ $json.sku }}, {{ $json.error_code }}, {{ ($json.error_message || '').replace(/'/g, \"''\").substring(0, 200) }}, {{ ($json.recovery_strategy || '').replace(/'/g, \"''\").substring(0, 100) }}, {{ $json.action }}, {{ ($json.retry_count_24h || 0) + 1 }}] }}"
        }
      },
      "id": "log-attempt",
      "name": "復旧ログ保存（圧縮）",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// V4-PRODUCTION: 結果集約（圧縮）\nconst results = $input.all().map(i => i.json);\nconst recovered = results.filter(r => r.action === 'data_corrected').length;\nconst needsReview = results.filter(r => r.action === 'needs_review').length;\nconst notRecoverable = results.filter(r => r.action === 'not_auto_recoverable').length;\n\nreturn [{ json: {\n  success: true,\n  summary: { total: results.length, recovered, needs_review: needsReview, not_recoverable: notRecoverable },\n  details: results.slice(0, 10).map(r => ({ sku: r.sku, action: r.action, conf: r.confidence })),\n  ts: new Date().toISOString()\n} }];"
      },
      "id": "aggregate",
      "name": "結果集約（圧縮）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM error_recovery_attempts WHERE created_at < NOW() - INTERVAL '30 days'",
        "options": {}
      },
      "id": "purge",
      "name": "🗑️ 履歴パージ（30日）",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.summary.recovered }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-notify",
      "name": "復旧あり？",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chatwork.com/v2/rooms/{{ $env.CHATWORK_ROOM_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{ $env.CHATWORK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "=[info][title]🔧 エラー復旧AIエージェント完了[/title]処理: {{ $json.summary.total }}件\\n✅自動復旧: {{ $json.summary.recovered }}件\\n⚠️要確認: {{ $json.summary.needs_review }}件\\n❌復旧不可: {{ $json.summary.not_recoverable }}件[/info]"
            }
          ]
        }
      },
      "id": "notify",
      "name": "ChatWork通知",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($node['結果集約（圧縮）'].json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// 🔐 HMAC SHA256 署名検証 (Empire OS v6)\nconst crypto = require('crypto');\n\nconst signature = $request.headers['x-n3-signature'] || $request.headers['X-N3-Signature'];\nconst timestamp = $request.headers['x-n3-timestamp'] || $request.headers['X-N3-Timestamp'];\nconst secret = $env.N8N_HMAC_SECRET;\n\nif (!secret) {\n  throw new Error('🚫 N8N_HMAC_SECRET 環境変数が未設定です');\n}\n\nif (!signature || !timestamp) {\n  throw new Error('🚫 署名またはタイムスタンプが欠落しています');\n}\n\n// タイムスタンプ有効期限チェック (5分)\nconst now = Date.now();\nconst tsAge = now - parseInt(timestamp);\nif (tsAge > 300000 || tsAge < -30000) {\n  throw new Error('🚫 タイムスタンプが期限切れまたは不正です');\n}\n\n// HMAC検証\nconst bodyString = JSON.stringify($json);\nconst computedHmac = crypto\n  .createHmac('sha256', secret)\n  .update(timestamp + '.' + bodyString)\n  .digest('hex');\n\nif (signature !== computedHmac) {\n  throw new Error('🚫 HMAC署名検証失敗: 不正なリクエスト');\n}\n\n// 検証成功 - 元データをそのまま返す\nreturn [{ json: $json }];"
      },
      "name": "🔐 HMAC署名検証",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[EMPIRE_OS_V6] セキュリティ強制挿入"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/execution_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_id\": \"{{$workflow.id}}\",\n  \"workflow_name\": \"{{$workflow.name}}\",\n  \"status\": \"success\",\n  \"execution_time_ms\": {{Date.now() - $execution.startedAt.getTime()}},\n  \"error_message\": null,\n  \"executed_at\": \"{{new Date().toISOString()}}\",\n  \"node_count\": {{$workflow.nodes.length}},\n  \"metadata\": {}\n}"
      },
      "name": "📊 実行ログ送信 (成功)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "notes": "[EMPIRE_OS_V6] 中央監視パルス"
    }
  ],
  "connections": {
    "Webhook: エラー復旧依頼": {
      "main": [
        [
          {
            "node": "🔐 HMAC署名検証",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "リクエスト検証": {
      "main": [
        [
          {
            "node": "エラーチェック",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラーチェック": {
      "main": [
        [
          {
            "node": "エラー応答",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "エラー商品取得（24hリトライ制限・user_id検証）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラー商品取得（24hリトライ制限・user_id検証）": {
      "main": [
        [
          {
            "node": "対象有無",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "対象有無": {
      "main": [
        [
          {
            "node": "対象なし",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "エラー辞書取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "対象なし": {
      "main": [
        [
          {
            "node": "応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラー辞書取得": {
      "main": [
        [
          {
            "node": "エラー情報整理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラー情報整理": {
      "main": [
        [
          {
            "node": "1件ずつ処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1件ずつ処理": {
      "main": [
        [
          {
            "node": "自動復旧可能？",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "結果集約（圧縮）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "自動復旧可能？": {
      "main": [
        [
          {
            "node": "Gemini: エラー診断",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "自動復旧不可",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: エラー診断": {
      "main": [
        [
          {
            "node": "診断結果パース＆修正適用",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "診断結果パース＆修正適用": {
      "main": [
        [
          {
            "node": "修正成功？",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "修正成功？": {
      "main": [
        [
          {
            "node": "修正データDB保存（楽観的ロック）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "復旧ログ保存（圧縮）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "修正データDB保存（楽観的ロック）": {
      "main": [
        [
          {
            "node": "復旧ログ保存（圧縮）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "自動復旧不可": {
      "main": [
        [
          {
            "node": "復旧ログ保存（圧縮）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "復旧ログ保存（圧縮）": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "1件ずつ処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "結果集約（圧縮）": {
      "main": [
        [
          {
            "node": "🗑️ 履歴パージ（30日）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗑️ 履歴パージ（30日）": {
      "main": [
        [
          {
            "node": "復旧あり？",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "復旧あり？": {
      "main": [
        [
          {
            "node": "ChatWork通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatWork通知": {
      "main": [
        [
          {
            "node": "応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 HMAC署名検証": {
      "main": [
        [
          {
            "node": "リクエスト検証",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 300,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none"
  },
  "tags": [
    {
      "name": "N3-AI",
      "color": "#7b68ee"
    },
    {
      "name": "V4-PRODUCTION",
      "color": "#ff0000"
    },
    {
      "name": "Error-Recovery",
      "color": "#ff6347"
    },
    {
      "name": "Multi-Tenant",
      "color": "#00bfff"
    },
    {
      "name": "Internal-Auth",
      "color": "#dc143c"
    },
    {
      "name": "500MB-Safe",
      "color": "#32cd32"
    },
    {
      "name": "24h-Retry-Limit",
      "color": "#ffd700"
    },
    {
      "name": "Empire-OS-V6",
      "color": "#ff4500"
    }
  ],
  "active": false
}