n8n-workflows/出品/_archive/【出品】04_22-出品-多販路多国籍出品ゲートウェイ_V5.json
{
  "name": "【出品】04_22-出品-多販路多国籍出品ゲートウェイ_V5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "listing-gateway",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook",
      "name": "Webhook: listing-gateway",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "listing-gateway"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json || {};\nconst apiUrl = $env.N3_API_URL || '{{$env.GATEWAY_URL}}';\nconst secret = $env.N8N_INTERNAL_SECRET;\nif (!secret) return [{ json: { error: true, message: 'N8N_INTERNAL_SECRET未設定', code: 'CONFIG_ERROR' } }];\nconst productId = body.product_id;\nconst sourceCountry = body.source_country || 'JP';\nconst destCountry = body.dest_country || 'US';\nconst destPlatform = body.dest_platform || 'ebay_us';\nconst targetProfitRate = parseFloat(body.target_profit_rate) || 0.20;\nif (!productId) return [{ json: { error: true, message: 'product_id は必須', code: 'MISSING_PARAM' } }];\nreturn [{ json: { product_id: productId, source_country: sourceCountry, dest_country: destCountry, dest_platform: destPlatform, target_profit_rate: targetProfitRate, api_url: apiUrl } }];"
      },
      "id": "init",
      "name": "🔐 初期化",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-error",
      "name": "エラーチェック",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.message, code: $json.code }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "エラー応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pm.*, im.quantity, im.purchase_price FROM products_master pm LEFT JOIN inventory_master im ON pm.id = im.product_id WHERE pm.id = $1",
        "options": {
          "queryParams": "={{ [$json.product_id] }}"
        }
      },
      "id": "get-product",
      "name": "📦 商品情報取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM logistics_providers WHERE source_country = $1 AND dest_country = $2 AND is_active = true ORDER BY priority ASC LIMIT 5",
        "options": {
          "queryParams": "={{ [$node['🔐 初期化'].json.source_country, $node['🔐 初期化'].json.dest_country] }}"
        }
      },
      "id": "get-forwarders",
      "name": "🚚 代行会社取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT setting_key, setting_value FROM global_settings WHERE setting_key LIKE 'exchange_rate_%' OR setting_key LIKE 'vat_rate_%' OR setting_key LIKE '%_fee_%'",
        "options": {}
      },
      "id": "get-settings",
      "name": "⚙️ 設定取得",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $node['🔐 初期化'].json;\nconst productRaw = $node['📦 商品情報取得'].json;\nconst forwardersRaw = $node['🚚 代行会社取得'].json;\nconst settingsRaw = $node['⚙️ 設定取得'].json;\nconst product = Array.isArray(productRaw) ? productRaw[0] : productRaw;\nif (!product || !product.id) return [{ json: { error: true, message: '商品が見つかりません' } }];\nconst forwarders = Array.isArray(forwardersRaw) ? forwardersRaw : (forwardersRaw ? [forwardersRaw] : []);\nconst settings = {};\nconst settingsArray = Array.isArray(settingsRaw) ? settingsRaw : [settingsRaw];\nsettingsArray.forEach(s => { if (s && s.setting_key) settings[s.setting_key] = parseFloat(s.setting_value) || s.setting_value; });\n\n// 為替レート\nconst getRate = (from, to) => {\n  if (from === to) return 1;\n  const key = `exchange_rate_${from.toLowerCase()}_${to.toLowerCase()}`;\n  return settings[key] || 150;\n};\n\n// VAT率\nconst vatRates = { 'DE': 0.19, 'FR': 0.20, 'UK': 0.20, 'IT': 0.22, 'ES': 0.21 };\nconst getVat = (country) => settings[`vat_rate_${country.toLowerCase()}`] || vatRates[country] || 0;\n\n// プラットフォーム手数料\nconst platformFees = { 'ebay_us': 0.13, 'ebay_de': 0.12, 'amazon_us': 0.15, 'amazon_de': 0.15, 'shopify': 0.029, 'shopee': 0.10 };\nconst platformFee = platformFees[config.dest_platform] || 0.13;\n\nconst purchasePrice = parseFloat(product.purchase_price) || 0;\nconst sourceCurrency = config.source_country === 'JP' ? 'JPY' : (config.source_country === 'US' ? 'USD' : 'EUR');\nconst destCurrency = config.dest_country === 'JP' ? 'JPY' : (config.dest_country === 'US' ? 'USD' : (config.dest_country === 'UK' ? 'GBP' : 'EUR'));\nconst exchangeRate = getRate(sourceCurrency, destCurrency);\nconst vatRate = getVat(config.dest_country);\n\n// 各代行会社でコスト計算\nconst routeCalculations = forwarders.map(fw => {\n  const forwarderFee = parseFloat(fw.handling_fee) + parseFloat(fw.inspection_fee || 0);\n  const shippingCost = parseFloat(fw.base_shipping) + (0.5 * parseFloat(fw.per_kg || 8));\n  const dutyRate = 0.05;\n  const purchaseDest = purchasePrice / exchangeRate;\n  const forwarderFeeDest = forwarderFee / exchangeRate;\n  const shippingDest = shippingCost / exchangeRate;\n  const dutyAmount = purchaseDest * dutyRate;\n  const subtotal = purchaseDest + forwarderFeeDest + shippingDest + dutyAmount;\n  const vatAmount = subtotal * vatRate;\n  const totalCost = subtotal + vatAmount;\n  const salePrice = totalCost / (1 - platformFee - config.target_profit_rate);\n  const netProfit = salePrice * (1 - platformFee) - totalCost;\n  const actualMargin = salePrice > 0 ? netProfit / salePrice : 0;\n  return {\n    forwarder_id: fw.id,\n    forwarder_name: fw.provider_name,\n    forwarder_fee: Math.round(forwarderFeeDest * 100) / 100,\n    shipping_cost: Math.round(shippingDest * 100) / 100,\n    duty_amount: Math.round(dutyAmount * 100) / 100,\n    vat_amount: Math.round(vatAmount * 100) / 100,\n    total_cost: Math.round(totalCost * 100) / 100,\n    calculated_price: Math.round(salePrice * 100) / 100,\n    net_profit: Math.round(netProfit * 100) / 100,\n    actual_margin: Math.round(actualMargin * 1000) / 10,\n    lead_time_days: fw.lead_time_days || 10\n  };\n});\n\nconst optimal = routeCalculations.reduce((best, r) => r.net_profit > best.net_profit ? r : best, routeCalculations[0] || {});\n\nreturn [{ json: { product_id: product.id, product_title: product.title || product.name, source_country: config.source_country, dest_country: config.dest_country, dest_platform: config.dest_platform, dest_currency: destCurrency, purchase_price: purchasePrice, purchase_currency: sourceCurrency, platform_fee_rate: platformFee, vat_rate: vatRate, route_calculations: routeCalculations, optimal_route: optimal } }];"
      },
      "id": "calc-routes",
      "name": "💰 ルート計算",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[PYTHON_MIGRATION_CANDIDATE]"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['🔐 初期化'].json.api_url }}/api/ai/translate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.product_title, target_lang: $json.dest_country === 'DE' ? 'de' : ($json.dest_country === 'FR' ? 'fr' : ($json.dest_country === 'JP' ? 'ja' : 'en')), source_lang: $json.source_country === 'JP' ? 'ja' : 'en' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "translate",
      "name": "🌍 AI翻訳",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const calcResult = $node['💰 ルート計算'].json;\nconst translateResult = $input.first().json;\nconst translatedTitle = translateResult.translated || translateResult.text || calcResult.product_title;\nreturn [{ json: { ...calcResult, translated_title: translatedTitle } }];"
      },
      "id": "merge-translate",
      "name": "📋 翻訳統合",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO listing_gateway (product_id, source_country, dest_country, dest_platform, forwarder_id, purchase_price, purchase_currency, forwarder_fee, shipping_cost, duty_amount, vat_amount, platform_fee_rate, target_profit_rate, calculated_price, sale_currency, translated_title, status) VALUES ($1, $2, $3, $4, $5::uuid, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, 'pending') RETURNING id",
        "options": {
          "queryParams": "={{ [$json.product_id, $json.source_country, $json.dest_country, $json.dest_platform, $json.optimal_route.forwarder_id || null, $json.purchase_price, $json.purchase_currency, $json.optimal_route.forwarder_fee || 0, $json.optimal_route.shipping_cost || 0, $json.optimal_route.duty_amount || 0, $json.optimal_route.vat_amount || 0, $json.platform_fee_rate, 0.20, $json.optimal_route.calculated_price || 0, $json.dest_currency, $json.translated_title] }}"
        }
      },
      "id": "save-listing",
      "name": "💾 出品データ保存",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "postgres-supabase",
          "name": "Supabase Postgres"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $node['📋 翻訳統合'].json;\nconst saveResult = $input.first().json;\nreturn [{ json: { success: true, listing_id: saveResult?.id || null, product_id: data.product_id, optimal_route: data.optimal_route, translated_title: data.translated_title, calculated_price: data.optimal_route?.calculated_price, currency: data.dest_currency, all_routes: data.route_calculations } }];"
      },
      "id": "format-response",
      "name": "📋 レスポンス整形",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "✅ 成功応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "// 🔐 HMAC SHA256 署名検証 (Empire OS v6)\nconst crypto = require('crypto');\n\nconst signature = $request.headers['x-n3-signature'] || $request.headers['X-N3-Signature'];\nconst timestamp = $request.headers['x-n3-timestamp'] || $request.headers['X-N3-Timestamp'];\nconst secret = $env.N8N_HMAC_SECRET;\n\nif (!secret) {\n  throw new Error('🚫 N8N_HMAC_SECRET 環境変数が未設定です');\n}\n\nif (!signature || !timestamp) {\n  throw new Error('🚫 署名またはタイムスタンプが欠落しています');\n}\n\n// タイムスタンプ有効期限チェック (5分)\nconst now = Date.now();\nconst tsAge = now - parseInt(timestamp);\nif (tsAge > 300000 || tsAge < -30000) {\n  throw new Error('🚫 タイムスタンプが期限切れまたは不正です');\n}\n\n// HMAC検証\nconst bodyString = JSON.stringify($json);\nconst computedHmac = crypto\n  .createHmac('sha256', secret)\n  .update(timestamp + '.' + bodyString)\n  .digest('hex');\n\nif (signature !== computedHmac) {\n  throw new Error('🚫 HMAC署名検証失敗: 不正なリクエスト');\n}\n\n// 検証成功 - 元データをそのまま返す\nreturn [{ json: $json }];"
      },
      "name": "🔐 HMAC署名検証",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "notes": "[EMPIRE_OS_V6] セキュリティ強制挿入"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/execution_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"workflow_id\": \"{{$workflow.id}}\",\n  \"workflow_name\": \"{{$workflow.name}}\",\n  \"status\": \"success\",\n  \"execution_time_ms\": {{Date.now() - $execution.startedAt.getTime()}},\n  \"error_message\": null,\n  \"executed_at\": \"{{new Date().toISOString()}}\",\n  \"node_count\": {{$workflow.nodes.length}},\n  \"metadata\": {}\n}"
      },
      "name": "📊 実行ログ送信 (成功)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "notes": "[EMPIRE_OS_V6] 中央監視パルス"
    }
  ],
  "connections": {
    "Webhook: listing-gateway": {
      "main": [
        [
          {
            "node": "🔐 HMAC署名検証",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 初期化": {
      "main": [
        [
          {
            "node": "エラーチェック",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "エラーチェック": {
      "main": [
        [
          {
            "node": "エラー応答",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📦 商品情報取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 商品情報取得": {
      "main": [
        [
          {
            "node": "🚚 代行会社取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚚 代行会社取得": {
      "main": [
        [
          {
            "node": "⚙️ 設定取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ 設定取得": {
      "main": [
        [
          {
            "node": "💰 ルート計算",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 ルート計算": {
      "main": [
        [
          {
            "node": "🌍 AI翻訳",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌍 AI翻訳": {
      "main": [
        [
          {
            "node": "📋 翻訳統合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 翻訳統合": {
      "main": [
        [
          {
            "node": "💾 出品データ保存",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 出品データ保存": {
      "main": [
        [
          {
            "node": "📋 レスポンス整形",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 レスポンス整形": {
      "main": [
        [
          {
            "node": "✅ 成功応答",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 HMAC署名検証": {
      "main": [
        [
          {
            "node": "🔐 初期化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionTimeout": 180,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    {
      "name": "N3-Listing",
      "color": "#1e90ff"
    },
    {
      "name": "V5-PRODUCTION",
      "color": "#00ff00"
    },
    {
      "name": "Multi-Market",
      "color": "#ff6347"
    },
    {
      "name": "Empire-OS-V6",
      "color": "#ff4500"
    }
  ],
  "active": false
}